<!DOCTYPE html>
<html lang="en" class="h-full <%= user.Styles.BackgroundColor %>">
<head>
    <%- include('./partials/head'); %>
    <title>Profil</title>
</head>
<body class="w-full flex flex-col items-center bg-body <%= user.Styles.BackgroundColor %>">

    <%- include('./partials/navbar'); %>
    
    <main id="profile-main" class="w-110 min-h-125 flex flex-col items-center p-4 mt-28">

        <div class="user-avatar">
            <img src="/public/assets/img/avatar.png" alt="">
        </div>

        <div class="user-info">
            <span class="text-2xl font-bold text-white flex flex-row items-center">
                <%= user.Name %>
                <% if (user.UserName == "otpz") { %>
                    <svg class="w-5 h-5 ml-1 fill-[#FFBF00]" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"></path>
                    </svg>
                <% } %>
            </span>
            <a class="block text-xs font-semibold text-white mt-1" href="@<%=user.UserName%>">@<%= user.UserName %></a>
            <p class="text-xs font-semibold text-white mt-1"><%= user.Biography %></p>
            <span class="block text-xs font-semibold text-white mt-2"><%= user.JoinDate %> Tarihinde Katıldı</span>
        </div>

        <div class="user-links">
            <% if (user.Links.length > 0) { %>
                <ul class="list">
                    <% for(let i = 0; i < user.Links.length; i++) { %>
                        <li class="mt-2 select-none <%= user.Styles.LinkBackgroundColor %> <%= user.Styles.LinkBorderRadius %>" id="link" number="<%=user.Links[i].Id%>">
                            <% if (locals.verifiedUrl === user.UserName) { %>
                                <span number="<%=user.Links[i].Id%>" id="move" class="left-10 select-none cursor-move w-12 h-full flex items-center justify-center <%= user.Styles.LinkBorderRadius %>" href="#">
                                    <svg class="w-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#fff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
                                </span>
                            <% } %>
                                <a id="address" class=" select-none w-full h-full flex justify-center items-center text-ellipsis whitespace-nowrap overflow-hidden" target="_blank" href="<%=user.Links[i].LinkUrl%>">
                                    <%= user.Links[i].Title %>
                                </a>
                            <% if (locals.verifiedUrl === user.UserName) { %>
                                <a number="<%=user.Links[i].Id%>" id="delete" class="select-none  hover:opacity-50 transition-all w-12 h-full flex items-center justify-center <%= user.Styles.LinkBorderRadius %>" href="#">
                                    <svg class="w-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.<path fill="#fff" d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg>
                                </a>
                            <% } %>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <span class="text-gray-600 mt-2">Henüz hiç link eklenmemiş.</span>
            <% } %>
        </div>

        <% if (locals.verifiedUrl === user.UserName) { %>
            <div class="w-full flex justify-between">
                <button id="add-new-link" class="w-10/12 h-10 text-center flex justify-center items-center px-4 bg-gray-700 text-white cursor-pointer hover:bg-gray-800 transition-all duration-150 <%= user.Styles.LinkBackgroundColor %> <%= user.Styles.LinkBorderRadius %> hover:opacity-80">
                    <span class="text-xl mr-2">+</span> Yeni Ekle
                </button>
                <button id="profile-style-button" class="ml-2 w-2/12 bg-gray-700 flex justify-center items-center hover:bg-gray-800 transition-all duration-150 <%= user.Styles.LinkBackgroundColor %> <%= user.Styles.LinkBorderRadius %> hover:opacity-90">
                    <svg enable-background="new 0 0 32 32" height="24px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="settings"><path d="M30.391,12.68l-3.064-0.614c-0.154-0.443-0.336-0.873-0.537-1.289l1.736-2.604   c0.529-0.793,0.424-1.85-0.25-2.523l-1.924-1.924c-0.387-0.387-0.898-0.586-1.416-0.586c-0.383,0-0.77,0.11-1.107,0.336   l-2.604,1.735c-0.418-0.202-0.848-0.382-1.291-0.536L19.32,1.61c-0.186-0.936-1.008-1.608-1.961-1.608h-2.72   c-0.953,0-1.774,0.673-1.961,1.608l-0.614,3.065c-0.443,0.154-0.873,0.335-1.289,0.536L8.172,3.476   C7.833,3.25,7.447,3.14,7.063,3.14c-0.517,0-1.028,0.199-1.415,0.586L3.725,5.65c-0.674,0.674-0.779,1.73-0.25,2.523l1.735,2.604   c-0.202,0.417-0.382,0.847-0.536,1.29L1.608,12.68C0.673,12.867,0,13.688,0,14.641v2.72c0,0.953,0.673,1.775,1.608,1.961   l3.065,0.615c0.154,0.443,0.335,0.873,0.536,1.289L3.475,23.83c-0.529,0.793-0.424,1.85,0.25,2.523l1.924,1.924   c0.387,0.387,0.898,0.586,1.415,0.586c0.384,0,0.771-0.111,1.108-0.336l2.604-1.736c0.417,0.203,0.847,0.383,1.29,0.537   l0.613,3.064c0.187,0.936,1.008,1.609,1.961,1.609h2.72c0.953,0,1.775-0.674,1.961-1.609l0.615-3.064   c0.443-0.154,0.873-0.336,1.289-0.537l2.604,1.736c0.338,0.225,0.725,0.336,1.107,0.336c0.518,0,1.029-0.199,1.416-0.586   l1.924-1.924c0.674-0.674,0.779-1.73,0.25-2.523l-1.736-2.604c0.203-0.418,0.383-0.848,0.537-1.291l3.064-0.613   C31.326,19.137,32,18.314,32,17.361v-2.72C32,13.688,31.326,12.867,30.391,12.68z M26.934,17.975   c-0.695,0.139-1.264,0.635-1.496,1.305c-0.129,0.369-0.279,0.727-0.447,1.074c-0.311,0.639-0.258,1.393,0.135,1.982l1.736,2.604   l-1.924,1.924l-2.604-1.736c-0.334-0.223-0.721-0.336-1.109-0.336c-0.297,0-0.596,0.066-0.871,0.199   c-0.348,0.168-0.705,0.32-1.076,0.449c-0.668,0.232-1.164,0.801-1.303,1.496l-0.615,3.066h-2.72l-0.613-3.066   c-0.139-0.695-0.635-1.264-1.304-1.496c-0.369-0.129-0.728-0.279-1.075-0.447c-0.276-0.135-0.574-0.201-0.872-0.201   c-0.389,0-0.775,0.113-1.109,0.336l-2.604,1.736l-1.924-1.924l1.735-2.604c0.393-0.59,0.444-1.344,0.137-1.98   c-0.168-0.348-0.319-0.705-0.448-1.076c-0.232-0.668-0.802-1.164-1.496-1.303l-3.065-0.615L2,14.641l3.066-0.613   c0.694-0.139,1.264-0.635,1.496-1.304c0.129-0.369,0.278-0.728,0.447-1.075c0.31-0.638,0.258-1.392-0.136-1.981L5.139,7.064   L7.062,5.14l2.604,1.735C10,7.098,10.387,7.211,10.775,7.211c0.297,0,0.595-0.066,0.871-0.199c0.347-0.168,0.705-0.319,1.075-0.448   c0.669-0.232,1.165-0.802,1.304-1.496l0.614-3.065l2.72-0.001l0.613,3.066c0.139,0.694,0.635,1.264,1.305,1.496   c0.369,0.129,0.727,0.278,1.074,0.447c0.277,0.134,0.574,0.2,0.873,0.2c0.389,0,0.775-0.113,1.109-0.336l2.604-1.735l1.924,1.924   l-1.736,2.604c-0.393,0.59-0.443,1.343-0.137,1.98c0.168,0.347,0.32,0.705,0.449,1.075c0.232,0.669,0.801,1.165,1.496,1.304   l3.064,0.614L30,17.361L26.934,17.975z" fill="#fff"/><path d="M16,9.001c-3.865,0-7,3.135-7,7c0,3.866,3.135,7,7,7s7-3.135,7-7C23,12.136,19.865,9.001,16,9.001z    M16,22.127c-3.382,0-6.125-2.744-6.125-6.125c0-3.382,2.743-6.125,6.125-6.125c3.381,0,6.125,2.743,6.125,6.125   C22.125,19.383,19.381,22.127,16,22.127z" fill="#fff"/><path d="M16,12.001c-2.21,0-4,1.79-4,4c0,2.209,1.79,4,4,4c2.209,0,4-1.791,4-4C20,13.792,18.209,12.001,16,12.001z    M16,19.002c-1.656,0-3-1.344-3-3c0-1.656,1.344-3,3-3s3,1.344,3,3C19,17.658,17.656,19.002,16,19.002z" fill="#fff"/></g></svg>
                </button>
            </div>
        <% } %>

        <form id="user-style-form" class="form mt-5 hidden" action="" onsubmit="changeStyle(event)">
            <div class="w-full h-76 mb-3">
                <div class="w-full h-full flex flex-col">
                    <h3 class="text-white text-lg">Profil Arkaplan Rengi</h3>
                    <p class="text-white text-sm">Profilinizin arkaplan rengini özelleştirin</p>
                    <div class="w-full flex flex-wrap justify-between">
                        <div class="my-2 flex w-1/2 h-16 items-center">
                            <input id="tie" name="bgColor" class="form-input w-4 h-4" type="radio" value="tie">
                            <label for="tie" class="border-2 border-white rounded-md block w-full h-full ml-1 mr-2 bg-gray-700 tie"></label>
                        </div>
                        <div class="my-2 flex w-1/2 h-16 items-center">
                            <input id="darkPink" name="bgColor" class="form-input w-4 h-4" type="radio" value="darkPink">
                            <label for="darkPink" class="border-2 border-white rounded-md block w-full h-full ml-1 mr-2 bg-gray-700 darkPink"></label>
                        </div>
                        <div class="my-2 flex w-1/2 h-16 items-center">
                            <input id="standart" name="bgColor" class="form-input w-4 h-4" type="radio" value="standart">
                            <label for="standart" class="border-2 border-white rounded-md block w-full h-full ml-1 mr-2 bg-gray-700 standart"></label>
                        </div>
                        <div class="my-2 flex w-1/2 h-16 items-center">
                            <input id="stock" name="bgColor" class="form-input w-4 h-4" type="radio" value="stock">
                            <label for="stock" class="border-2 border-white rounded-md block w-full h-full ml-1 mr-2 bg-gray-700 stock"></label>
                        </div>
                        <div class="my-2 flex w-1/2 h-16 items-center">
                            <input id="worker" name="bgColor" class="form-input w-4 h-4" type="radio" value="worker">
                            <label for="worker" class="border-2 border-white rounded-md block w-full h-full ml-1 mr-2 bg-gray-700 worker"></label>
                        </div>
                        <div class="my-2 flex w-1/2 h-16 items-center">
                            <input id="guitar" name="bgColor" class="form-input w-4 h-4" type="radio" value="guitar">
                            <label for="guitar" class="border-2 border-white rounded-md block w-full h-full ml-1 mr-2 bg-gray-700 guitar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full h-56 mb-3">
                <div class="w-full h-full flex flex-col">
                    <h3 class="text-white text-lg">Link Kenarlığı</h3>
                    <p class="text-white text-sm">Link butonlarının kenarlığını özelleştirin.</p>
                    <div class="my-2 flex w-full h-8 items-center">
                        <input id="square" name="borderStyle" class="form-input w-4 h-4" type="radio" value="square">
                        <label for="square" class="form-label ml-2 text-base text-white flex justify-center items-center">
                            <div class="w-10 h-5 border-white border-1 mr-2 square"></div>
                            Kare
                        </label>
                    </div>
                    <div class="my-2 flex w-full h-8 items-center">
                        <input id="smooth" name="borderStyle" class="form-input w-4 h-4" type="radio" value="smooth">
                        <label for="smooth" class="form-label ml-2 text-base text-white flex justify-center items-center">
                            <div class="w-10 h-5 border-white border-1 mr-2 smooth"></div>
                            Yumuşak
                        </label>
                    </div>
                    <div class="my-2 flex w-full h-8 items-center">
                        <input id="round" name="borderStyle" class="form-input w-4 h-4" type="radio" value="round">
                        <label for="round" class="form-label ml-2 text-base text-white flex justify-center items-center">
                            <div class="w-10 h-5 border-white border-1 mr-2 rounded-lg"></div>
                            Yuvarlak
                        </label>
                    </div>
                    <div class="my-2 flex w-full h-8 items-center">
                        <input id="extraRounded" name="borderStyle" class="form-input w-4 h-4" type="radio" value="extraRounded">
                        <label for="extraRounded" class="form-label ml-2 text-base text-white flex justify-center items-center">
                            <div class="w-10 h-5 border-white border-1 mr-2 extraRounded"></div>
                            Ekstra Yuvarlak
                        </label>
                    </div>
                </div>
            </div>
            <div class="w-full h-144">
                <div class="w-full h-full flex flex-col">
                    <h3 class="text-white text-lg">Link Rengi</h3>
                    <p class="text-white text-sm">Link butonlarının arkaplan renklerini özelleştirin.</p>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="bluePurple" name="linkColor" class="form-input w-4 h-4" type="radio" value="bluePurple">
                        <label for="bluePurple" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 bluePurple"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="yellowTurquoise" name="linkColor" class="form-input w-4 h-4" type="radio" value="yellowTurquoise">
                        <label for="yellowTurquoise" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 yellowTurquoise"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="redBlue" name="linkColor" class="form-input w-4 h-4" type="radio" value="redBlue">
                        <label for="redBlue" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 redBlue"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="greenYellow" name="linkColor" class="form-input w-4 h-4" type="radio" value="greenYellow">
                        <label for="greenYellow" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 greenYellow"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="blackGray" name="linkColor" class="form-input w-4 h-4" type="radio" value="blackGray">
                        <label for="blackGray" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 blackGray"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="purpleYellow" name="linkColor" class="form-input w-4 h-4" type="radio" value="purpleYellow">
                        <label for="purpleYellow" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 purpleYellow"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="redYellow" name="linkColor" class="form-input w-4 h-4" type="radio" value="redYellow">
                        <label for="redYellow" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 redYellow"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="blueSoftBlue" name="linkColor" class="form-input w-4 h-4" type="radio" value="blueSoftBlue">
                        <label for="blueSoftBlue" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 blueSoftBlue"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="cactus" name="linkColor" class="form-input w-4 h-4" type="radio" value="cactus">
                        <label for="cactus" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 cactus"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="frost" name="linkColor" class="form-input w-4 h-4" type="radio" value="frost">
                        <label for="frost" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 frost"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="rainbow" name="linkColor" class="form-input w-4 h-4" type="radio" value="rainbow">
                        <label for="rainbow" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 rainbow"></label>
                    </div>
                    <div class="my-2 flex justify-between w-full h-8 items-center">
                        <input id="purplePink" name="linkColor" class="form-input w-4 h-4" type="radio" value="purplePink">
                        <label for="purplePink" class="border-2 border-white rounded-md block w-full h-full ml-2 bg-gray-700 purplePink"></label>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between  mt-5">
                <button id="styleSubmit" class="<%= user.Styles.LinkBackgroundColor %> w-2/5 h-10 border-1 border-gray-200 mt-2 hover:bg-gray-600 hover:text-white transition-all duration-200 rounded-md">
                    Gönder
                </button>
                <span id="cancel-form" class="w-2/5 h-10 text-center flex justify-center items-center px-4 text-white rounded-md cursor-pointer">
                    İptal
                </span>
            </div>
        </form>       

        <form id="new-link-form" class="form mt-5 hidden" onsubmit="addLink(event)" action="">
            <% if (locals.csrfToken) { %>
                <input class="hidden" type="hidden" id="csrfToken" name="csrfToken" value="<%= locals.csrfToken %>">
            <% } %>
            <div class="form-div w-full">
                <label class="form-label text-gray-200" for="title">Başlık</label>
                <input class="form-input py-2 px-3 text-gray-800" type="text" placeholder="LinkedIn" name="title">
            </div>
            <div class="form-div w-full">
                <label class="form-label text-gray-200" for="url">URL Adresi</label>
                <input class="form-input py-2 px-3 text-gray-800" type="url" placeholder="" name="url">
            </div>
            <div class="flex items-center justify-between w-full">
                <button id="linkSubmit" class="<%= user.Styles.LinkBackgroundColor %> w-2/5 h-10 border-1 border-gray-600 mt-2 hover:bg-gray-600 hover:text-white transition-all duration-200 rounded-md">
                    Gönder
                </button>
                <span id="cancel-form" class="w-2/5 h-10 text-center flex justify-center items-center px-4 text-white rounded-md cursor-pointer">
                    İptal
                </span>
            </div>
        </form>

        <div class="w-full h-[0.5px] bg-gray-400 mt-6"></div>

        <% if (locals.verifiedUrl !== user.UserName) { %>
            <form id="ask-question-form" class="form w-full items-start" action="" onsubmit="askQuestion(event)">
                <textarea class="bg-transparent outline-none w-full mt-2 placeholder:text-gray-400 border-b-1 border-gray-400" name="question" id="question" rows="5" placeholder="Bana bir şey sor."></textarea>
                <div class="flex items-center justify-between w-full">
                    <button id="sendQuestion" class="<%= user.Styles.LinkBackgroundColor %> w-2/5 h-10 border-1 border-white mt-2 hover:bg-gray-800 hover:text-white transition-all duration-200 rounded-md">Gönder</button>
                    <div class="mt-2 flex w-2/5 h-10 items-center justify-center">
                        <input id="anonymously" name="bgColor" class="form-input w-4 h-4" type="checkbox" value="anonymously">
                        <label for="anonymously" class=" ml-3">Anonim olarak sor</label>
                    </div>
                </div>
            </form>
        <% } %>

        <div id="questions" class="questions">
            <% if (user.Questions.length > 0) { %>
                    <% for (let i = 0; i < user.Questions.length; i++) { %>
                        <% if (user.Questions[i].Answer || (locals.verifiedUrl === user.UserName) || ((user.Questions[i].QuestionerUserName === locals.verifiedUrl) && locals.verifiedUrl)) { %>
                            <div class=" question-main <%= !user.Questions[i].Answer ? 'order-top' : 'order-2' %>">
                                <div class="top">
                                    <% if (locals.verifiedUrl === user.UserName) { %> 
                                        <div class="top-row">
                                            <div class="q-user-info">
                                                <% if (user.Questions[i].QuestionerId) { %>
                                                    <img class="avatar" src="/public/assets/img/avatar.png" alt="">
                                                <% } else { %>
                                                    <div class="avatar grid place-items-center border-dashed border-1"> ? </div>
                                                <% } %>
                                                <div class="info"> 
                                                    <% if (user.Questions[i].QuestionerId) { %>
                                                        <a href="/@<%=user.Questions[i].QuestionerUserName%>" class="name max-w-75 truncate"><%= user.Questions[i].QuestionerName %> <%= user.Questions[i].QuestionerSurname %></a>
                                                    <% } else { %>
                                                        <span class="name">Anonim</span>
                                                    <% } %>
                                                    <% if (user.Questions[i].QuestionerId) { %>
                                                        <a href="/@<%=user.Questions[i].QuestionerUserName%>" class="username max-w-75 truncate">@<%= user.Questions[i].QuestionerUserName %></a>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <% if (user.Questions[i].Answer) { %>
                                                <button onclick="showSettingsDropdown(event)" id="<%= user.Questions[i].Id %>" class="question-settings">
                                                    <svg class="h-4 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#fff" d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/></svg>
                                                </button>
                                                <ul id="menu-<%= user.Questions[i].Id %>" class="settings bottom-hidden">
                                                    <li onclick="deleteAlert(event)" class="mt-1 cursor-pointer" id="<%= user.Questions[i].Id %>">Sil</li>
                                                    <li onclick="toggleReportForm(event)" class="mt-1 mb-1 cursor-pointer" id="<%= user.Questions[i].Id %>">Raporla</li>
                                                </ul>
                                            <% } %>
                                        </div>
                                    <% } else { %>
                                        <div class="q-user-info">
                                            <% if (user.Questions[i].QuestionerId) { %>
                                                <img class="avatar" src="/public/assets/img/avatar.png" alt="">
                                            <% } else { %>
                                                <div class="avatar grid place-items-center border-dashed border-1"> ? </div>
                                            <% } %>
                                            <div class="info"> 
                                                <% if (user.Questions[i].QuestionerId) { %>
                                                    <a href="/@<%=user.Questions[i].QuestionerUserName%>" class="name max-w-75 truncate"><%= user.Questions[i].QuestionerName %> <%= user.Questions[i].QuestionerSurname %></a>
                                                <% } else { %>
                                                    <span class="name">Anonim</span>
                                                <% } %>
                                                <% if (user.Questions[i].QuestionerId) { %>
                                                    <a href="/@<%=user.Questions[i].QuestionerUserName%>" class="username max-max-w-75 truncate">@<%= user.Questions[i].QuestionerUserName %></a>
                                                <% } %>
                                            </div>
                                        </div>
                                    <% } %>
                                    <div class="user-text">
                                        <p><%= user.Questions[i].Question %></p>
                                    </div>
                                </div>
                                <% if (!user.Questions[i].Answer && locals.verifiedUrl === user.UserName) { %>
                                    <div class="middle">
                                        <form id="<%= user.Questions[i].Id %>" class="form w-full .question-form" onsubmit="answerQuestion(event)" action="">
                                            <textarea name="answer" id="answer" rows="3" placeholder="Cevabınızı yazın..."></textarea>
                                            <input type="hidden" name="question_id" value="<%= user.Questions[i].Id %>">
                                            <div class="mt-1 flex w-full h-10 items-start justify-start">
                                                <button type="submit" class="mr-2 hover:text-blue-500">Gönder</button>
                                                <button id="<%= user.Questions[i].Id %>" class="ml-2 hover:text-red-500" onclick="deleteQuestion(event)" >Sil</button>
                                            </div>
                                        </form>
                                    </div>
                                <% } else if (user.Questions[i].Answer) { %>
                                    <div class="bottom">
                                        <div class="q-user-info">
                                            <img class="avatar" src="/public/assets/img/avatar.png" alt="">
                                            <div class="info">
                                                <a href="/@<%= user.UserName %>" class="name truncate max-w-75"><%= user.Name %> <%= user.Surname %></a>
                                                <a href="/@<%= user.UserName %>" class="username truncate max-w-75">@<%= user.UserName %></a>
                                            </div>
                                        </div>
                                        <div class="user-text">
                                            <p><%= user.Questions[i].Answer %></p>
                                        </div>
                                        <div class="question-stats">
                                            <button id="<%= user.Questions[i].Id %>" class="likes <%= user.Questions[i].UserLiked === null ? 'unliked' : 'liked' %>" onclick="likeControl(event)">
                                                <svg class="w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                                                <span><span class="value"><%= user.Questions[i].Likes %></span> beğeni</span>
                                            </button>
                                            <div class="time">
                                                <span><%= user.Questions[i].TimeElapsed %></span>
                                            </div>
                                        </div>
                                    </div>
                                <% } else if (user.Questions[i].QuestionerUserName === locals.verifiedUrl) { %>
                                    <div class="p-4 w-full flex flex-col items-start rounded-lg h-full">
                                        <div class="user-text">
                                            <p class="text-gray-400 select-none">Sorunuz henüz cevaplanmadı.</p>
                                        </div>
                                    </div>
                                <% } %>  
                            </div>
                        <% } %>
                    <% } %>
            <% } %>

            <div id="question-id" class="question-main hidden active-form">
                <div class="top">
                    <div class="q-user-info">
                        <img class="avatar" src="/public/assets/img/pp.jpg" alt="">
                        <div class="info">
                            <span class="name">Osman Topuz</span>
                            <span class="username">@otpz</span>
                        </div>
                    </div>
                    <div class="user-text">
                        <p>Lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos veritatis ducimus ipsum et sed ea nemo. Provident perferendis atque officia!</p>
                    </div>
                </div>
                <div class="middle">
                    <form id="question-form-id" class="form w-full .question-form" onsubmit="answerQuestion(event)" action="">
                        <textarea name="answer" id="answer" rows="3" placeholder="Cevabınızı yazın..."></textarea>
                        <div class="mt-1 flex w-full h-10 items-start justify-start">
                            <button type="submit" class="mr-2 hover:text-blue-500">Gönder</button>
                            <button class="ml-2 hover:text-red-500" disabled>Sil</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        
    </main>

    <form id="report-form" class="fixed top-1/3 form w-110 rounded-md p-3 bg-gray-800 border-gray-400 border-1 hidden" onsubmit="reportQuestion(event)">
        <h1>Rapor Formu #<span id="question-id-span"></span></h1>
        <div id="close-report-form" class="cursor-pointer absolute top-3 right-3 w-4 h-4 rounded-full flex items-center justify-center text-sm p-0">
            <svg class="fill-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
        </div>
        <div class="form-div w-full">
            <label class="form-label text-gray-200" for="report-text">Şikayet</label>
            <textarea class="rounded-md p-2 border-1 bg-transparent outline-none w-full mt-1 placeholder:text-gray-400 border-gray-600" name="report-text" id="report-text" rows="5" placeholder="Şikayet nedenim..."></textarea>
        </div>
        <button id="linkSubmit" class="<%= user.Styles.LinkBackgroundColor %> hover:bg-opacity-90 w-full h-10 border-1 border-gray-600 mt-2 transition-all duration-200 rounded-md">Gönder</button>
    </form>

    
    

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/dom.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
</body>
</html>