<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <%- include('./partials/head'); %>
    <title>Register</title>
</head>
<body class="w-full bg-body flex flex-col items-center justify-center">

    <%- include('./partials/navbar'); %>
    
    <main class="w-3/4 h-full bg-transparent shadow-none flex flex-col items-center p-4 mt-10">
        <div class="w-full flex flex-col justify-start items-center">
            <div class="w-full flex flex-col items-center">
                <h2 class="text-xl font-bold mb-4 text-green-800">Profil Bilgileriniz</h2>
                <form onsubmit="setProfileInfo(event)" class="form w-1/2" action="">
                    <div class="form-div">
                        <label class="form-label" for="name">İsim</label>
                        <input value="<%=Name%>" required class="form-input" name="name" type="text" pattern="/^[a-z ,.'-]+$/i" title="İsimde noktalama ve sayı kullanmayınız" placeholder="İsim">
                    </div>
                    <div class="form-div">
                        <label class="form-label" for="surname">Soyisim</label>
                        <input value="<%=Surname%>" required class="form-input" name="surname" type="text" pattern="[A-Za-zğĞıİşŞüÜöÖçÇ]{1,20}" title="Soyisimde boşluk, noktalama ve sayı kullanmayınız" placeholder="Soyisim">
                    </div>
                    <div class="form-div">
                        <label class="form-label" for="username">Kullanıcı Adı</label>
                        <input value="<%=UserName%>" required class="form-input" name="username"  type="text" pattern="^(?=.{3,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$" title="3-20 karakter aralığında, boşluk, noktalama ve özel karakter kullanmayınız" placeholder="Kullanıcı adı">
                    </div>
                    <div class="form-div">
                        <label class="form-label" for="biography">Biyografi</label>
                        <input value="<%=Biography%>" class="form-input" name="biography"  type="text" placeholder="Biyografi bilgisi">
                    </div>
                    <div class="form-div">
                        <label class="form-label" for="email">Email</label>
                        <input value="<%=Email%>" required class="form-input" type="email" placeholder="name@gmail.com" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" title="Doğru email adresi girdiğinizden emin olunuz." name="email">
                    </div>
                    <button class="form-button mt-8" type="submit">Kaydet</button>
                </form>

                <div class="w-full h-20  mt-6"></div>

                <h2 class="text-xl font-bold mb-4 text-green-800">Şifre Sıfırlama</h2>
                <form onsubmit="resetPassword(event)" class="form w-1/2" action="">
                    <div class="form-div">
                        <label class="form-label" for="password">Şifre</label>
                        <input required class="form-input" type="password" placeholder="Şifrenizi en az 8 haneli giriniz." pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Minimum 8 karakter, 1 harf ve 1 sayı içeren şifre giriniz." name="password">
                    </div>
                    <div class="form-div">
                        <label class="form-label" for="password">Şifre Tekrarı</label>
                        <input required class="form-input" type="password" placeholder="Yeni şifrenizi tekrar giriniz" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Minimum 8 karakter, 1 harf ve 1 sayı içeren şifre giriniz." name="password">
                    </div>
                    <button class="form-button mt-8" type="submit">Şifre Değiştir</button>
                </form>
            </div>
        </div>
    </main>


    

    <script type="text/javascript" src="/js/app.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

</body>
</html>